.header {
  background-color: beige;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-item {
  margin: 1.4em;
  font-size: 1.2em;
}

.header-item:hover {
  text-decoration: underline;
}
